.menu {
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu__title {
  margin: 0 auto 24px;
  max-width: 780px;
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
}

.menu__subtitle {
  margin: 0 auto 0;
  max-width: 780px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 100px 0 0;
  gap: 100px;
}
